<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Unit Tests">
	<test name="Regular User Tests">
		<groups>
			<run>
				<include name="usertest"/>
			</run>
		</groups>
		<packages>
			<package name="testng"/>
		</packages>
	</test>
	<test name="Administrative User Tests">
		<groups>
			<run>
				<include name="admintest"/>
			</run>
		</groups>
		<packages>
			<package name="testng"/>
		</packages>
	</test>
</suite> 
